<div id="<%= dom_id attack %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= attack.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= attack.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Secured by:</strong>
    <%= attack.secured_by %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Body:</strong>
    <%= attack.body %>
  </p>

</div>
