<div class="px-6 pt-24 sm:pt-32 lg:px-8">
  <div class="mx-auto max-w-2xl text-center">
    <p class="text-base font-semibold leading-7 text-indigo-600">Play around and find out</p>
    <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Test CSP with a real attack</h2>
    <p class="mt-6 text-lg leading-8 text-gray-600">Now we're getting close to actually trying it out</p>
  </div>

  <div class="mx-auto max-w-2xl">
    <p class="mt-10">
      Now you've selected a vulnerability. Right now 
    </p>
    <p class="mt-6">
      Here's how it works: you choose an attack and review, which code will be injected into your page. Then you select, what kind of CSP policy will protect you. We've got 4 options:
    </p>
    <ul class="mt-6">
      <li>
        <strong>No CSP</strong> - the policy that allows everything
      </li>
      <li>
        <strong>Rails default</strong> – somewhat permissive policy that comes with Rails
      </li>
      <li>
        <strong>Host-constrained</strong> – policy that only allows code from certain hosts, such as origin and CDNs
      </li>
      <li>
        <strong>Strict-dynamic</strong> – only allows scripts which were explicitly marked as safe with a provided nonce, and the scripts added by them. Realistically, the strictest policy you'd get in a large project with GTM, frontend frameworks, and other JS-intensive systems.
      </li>
    </ul>
    <p class="mt-6">
      No worries – the attack won't run until you've pressed the button.
    </p>
  </div>
</div>

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-8">
  <div class="mx-auto max-w-2xl">
    <ul role="list" class="space-y-5">
      <li class="divide-y divide-gray-200 overflow-hidden rounded-lg bg-white shadow">
        <div class="bg-white px-4 py-5 sm:px-6">
          <div class="-ml-4 -mt-2 flex flex-wrap items-center justify-between sm:flex-nowrap">
            <div class="ml-4 mt-2">

              <h3 class="text-base font-semibold leading-6 text-gray-900"><%= link_to @attack.title, @attack %></h3>
            </div>
          </div>
        </div>
        <div>
          <div class="hidden sm:block">
            <nav class="isolate flex divide-x divide-gray-200 rounded-lg shadow" aria-label="Tabs">
              <!-- Current: "text-gray-900", Default: "text-gray-500 hover:text-gray-700" -->
              <a href="#" class="group relative min-w-0 flex-1 overflow-hidden rounded-l-lg bg-white px-4 py-4 text-center text-sm font-medium text-gray-900 hover:bg-gray-50 focus:z-10" aria-current="page">
                <span>Safe</span>
                <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-0.5 bg-indigo-500"></span>
              </a>
              <%= link_to no_csp_path(@attack), class: "group relative min-w-0 flex-1 overflow-hidden bg-white px-4 py-4 text-center text-sm font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-700 focus:z-10" do %>
                  <span>No CSP</span>
                  <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-0.5 bg-transparent"></span>
              <% end %>
              <%= link_to rails_default_path(@attack), class: "group relative min-w-0 flex-1 overflow-hidden bg-white px-4 py-4 text-center text-sm font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-700 focus:z-10" do %>
                <span>Rails default</span>
                <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-0.5 bg-transparent"></span>
              <% end %>
              <%= link_to host_constrained_path(@attack), class: "group relative min-w-0 flex-1 overflow-hidden bg-white px-4 py-4 text-center text-sm font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-700 focus:z-10" do %>
                <span>Host constrained</span>
                <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-0.5 bg-transparent"></span>
              <% end %>
              <%= link_to strict_dynamic_path(@attack), class: "group relative min-w-0 flex-1 overflow-hidden bg-white px-4 py-4 text-center text-sm font-medium text-gray-500 hover:bg-gray-50 hover:text-gray-700 focus:z-10" do %>
                <span>Strict-dynamic</span>
                <span aria-hidden="true" class="absolute inset-x-0 bottom-0 h-0.5 bg-transparent"></span>
              <% end %>
            </nav>
          </div>
        </div>
        <div class="px-4 py-5 sm:p-6">
          <%= @attack.description %>
          <br />
          <code>
            <%= @attack.body %>
          </code>
        </div>
        <div class="px-4 py-4 sm:px-6">
          <div class="flex space-x-3">
            <div class="flex-shrink-0">
              <img class="h-10 w-10 rounded-full" src="<%= @attack.author.avatar_url %>" alt="">
            </div>
            <div class="min-w-0 flex-1">
              <p class="text-sm font-semibold text-gray-900">
                <%= link_to @attack.author.at_name, @attack.author.profile_url, class: 'hover:underline' %>
              </p>
              <p class="text-sm text-gray-500">
                Added <%= distance_of_time_in_words(@attack.created_at, Time.current) %> ago
              </p>
            </div>
            <div class="ml-4 mt-2 flex-shrink-0">
              <%= link_to "Edit", edit_attack_path(@attack), class: 'rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50' %>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>

<div class="px-6 pt-8 lg:px-8">
  <div class="mx-auto max-w-2xl">
    <p class="mt-10">
      A little reminder what the options are:
    </p>
    <ul class="mt-6">
      <li>
        <strong>Safe</strong> - nothing is injected.
      </li>
      <li>
        <strong>No CSP</strong> - the policy that allows everything
      </li>
      <li>
        <strong>Rails default</strong> – somewhat permissive policy that comes with Rails
      </li>
      <li>
        <strong>Host-constrained</strong> – policy that only allows code from certain hosts, such as origin and CDNs
      </li>
      <li>
        <strong>Strict-dynamic</strong> – only allows scripts which were explicitly marked as safe with a provided nonce, and the scripts added by them. Realistically, the strictest policy you'd get in a large project with GTM, frontend frameworks, and other JS-intensive systems.
      </li>
    </ul>
  </div>
</div>
